body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Header */
h1 {
    background-color: #585858;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 0;
    width: 100%;
    box-sizing: border-box; /* Add this line */
    position: relative; /* Add this line */
}

/* Table Styling */
table {
    width: 95%;
    max-width: 95%;
    border-collapse: collapse;
    table-layout: fixed;
}

thead {
    background-color: #333;
    color: white;
    text-align: left;
}

/* Prevent words from breaking in the header */
thead th {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    word-break: normal; /* Prevent word break */
    white-space: nowrap; /* Prevent wrapping */
}

thead th, tbody td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    word-break: break-word;
}

thead th:nth-child(1), tbody td:nth-child(1) {
    min-width: 150px; /* Set a minimum width */
}

thead th:nth-child(2), tbody td:nth-child(2) {
    min-width: 150px; /* Set a minimum width */
}

thead th:nth-child(3), tbody td:nth-child(3) {
    min-width: 100px; /* Set a minimum width */
}

thead th:nth-child(4), tbody td:nth-child(4),
thead th:nth-child(5), tbody td:nth-child(5) {
    width: 60px; /* Set a fixed width for the last two columns */
}

tbody tr:last-child td {
    border-bottom: none;
}


/* Add Book Button */
button#addBook {
    margin: 10px auto;
    display: block;
    padding: 10px 20px;
    background-color: #007acc;
    color: white;
    border: none;
    cursor: pointer;
}

/* Dialog */
dialog {
    border-radius: 5px;
    padding: 20px;
}

button#closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

/* Form */
form {
    display: grid;
    gap: 10px;
    width: 20rem;
    padding: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"] {
    margin-top: 5px;
}

input[type="submit"] {
    background-color: #007acc;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}